* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}


body {
    width: 100%;
    margin: auto;
}

.banner {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_img {
    width: auto;
    object-fit: cover;
    opacity: 80%;
 }

.bonjour_container {
    max-width: 750px;
    max-height: 500px;
    width: 50%;
    height: 70%;
    position: absolute;
    margin: auto;
    background-color: white; 
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
}

.bonjour_item_1, .bonjour_item_2, .bonjour_item_3 {
    margin: 20px 5px 20px 5px;
}

.bonjour_item_1 {
    font-size: 4rem;
    font-weight: 800;
}

.bonjour_item_2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.bonjour_item_3 {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}


.surplace_aemporter_item {
    width: 45%;
    height: 100%;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 8px rgb(255, 200, 54);
    border-radius: 20px;
    color: black;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.surplace_aemporter_item:hover {
    transform: scale(1.1); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1.1);
}

.surplace_aemporter_item:active {
    transform: scale(0.9); 
}


.aemporter_txt {
    margin: 0;
}

.surplace_txt {
    margin: 0;
}

/* BREAKPOINT 1 */
@media screen and (max-width: 980px) {
    /* .banner_img {
        top: 50%;
        left: 50%;
        transform: translate(-40%, -20%);
    } */

    .bonjour_container {
        width: 60%;
        height: 90%;
        padding: 20px;
    }

    .bonjour_item_1, .bonjour_item_2, .bonjour_item_3 {
    margin: 10px 0 10px 0;
    }


    .surplace_aemporter_item {
        width: 40%;
        height: 80%;
    }

   .table_chaise_img, .sachet_img {
        height: 50%;
    }
 
    .bonjour_item_1 {
        font-size: 3rem;
        text-align: center;
    }
    
    .bonjour_item_2, .bonjour_item_3 {
        font-size: 2.2rem;
        text-align: center;
    }
}

/* BREAKPOINT 2 */
@media screen and (max-width: 750px) {
    /* .banner_img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
    } */

    .bonjour_container {
        width: 80%;
        height: 80%;
    }


    .bonjour_item_1 {
        font-size: 2.5rem;
    }

    .bonjour_item_1, .bonjour_item_2, .bonjour_item_3 {
        margin: 0.8rem 0 0.8rem 0;
    }
    
    .bonjour_item_2, .bonjour_item_3 {
        font-size: 1.8rem;
    }
}

/* BREAKPOINT 3 */
@media screen and (max-width: 615px) {
    /* .banner_img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
    } */


    .bonjour_item_1 {
        font-size: 2.5rem;
    }
    
    .bonjour_item_2, .bonjour_item_3 {
        font-size: 1.8rem;
    }

    .bonjour_item_3 {
        justify-content: space-around;
    }

    .surplace_aemporter_item {
    border: solid 5px rgb(255, 200, 54);
    }

    .bonjour_container {
        padding: 10px;
        width: 90%;
        height: 50%;
    }
}


@media screen and (max-height: 500px){
    html {
        font-size: 8px;
    }
}

/* BREAKPOINT 4 */
@media screen and (max-width: 470px) {

    html {
    font-size: 8px;
}

    .banner_img {
        height: 100%;
    }

        .bonjour_item_3 {
        justify-content: space-between;
    }

    .table_chaise_img, .sachet_img {
        height: 40%;
    }
}







